@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.profile {
margin-top: 5%;
}

.galeri {
    padding: 3rem;
}

.profile h1 {
    text-align: center;
    color: #4649FF;
  }

.galeri h1 {
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
    color: #4649FF;
}

  .profile h4 {
    text-align: center;
    color: #4649FF;
  }

  .profile hr {
    color: #FF66C4;
  }

.galeri hr {
    margin: auto;
    width: 90%;
    border-width: 2px;
    color: #ff66c4;
}

.row {
    margin-top: 50px;    
}

.galeri .image {
    display: block;
    width: 100%;
    border-radius: 12px;
}

.galeri .overlay {
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95%;
    width: 95%;
    opacity: 0;
    margin: auto;
    transition: .5s ease;
    background-color: rgba(23, 23, 23, 0.753);
    border-radius: 10px;
}

.galeri .thumbnail .caption {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #A0EEFF;
}

.galeri .thumbnail {
    border-style: none;
}

 .profile button{
    width: 100px;
    height: 35px;
    margin-bottom: 5%;
    margin-left: 47%;
    margin-right: auto;
    border: none;
    border-radius: 6px;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .profile button:hover {
    background-color: #4d84e2;
  }

.galeri .thumbnail:hover {
    box-shadow: #4649FF;
}

.galeri .img-container:hover .overlay {
    opacity: 1;
    border-radius: 10px;
    margin: auto;
}

  .user-profile {
    width: 380px;
    height: 380px;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: none;
  }

  .user-profile img{
    width: 200px;
	  height: 200px;    
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 23.5%;
    margin-right: auto;
	  background: white;
    border: 1px solid #000000;
	  border-radius: 100%;
  }
  
